<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %>
  </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
	
    <div class="container-fluid">
    	<div class="row-fluid">
    		<div class="span3">
    			<div class="well sidebar-nav">
                  <ul class="nav nav-list">
                    <li class="nav-header">Sports</li>
                    <%= render 'layouts/categories' %>
    		
                  </ul>
                </div><!--/.well -->
              </div>
              <div class="span9">
                <div class="hero-unit">
                    <%= yield %>
      		    </div>
      		    <%= render 'layouts/footer' %>
              </div>
        </div>
    </div>
</body>
</html>
